<app-navbar class="blue-bg" [pageName]="'Expenses'"></app-navbar>
<ion-content class="blue-bg">
  <ion-list class="blue-bg">
    <ion-item *ngFor="let expenses of expenses; let i = index">
      <ion-label>
        {{i + 1}}
      </ion-label>
      <ion-label>{{expenses.description}}</ion-label>
      <ion-icon name="trash-outline" (click)="deleteExpense(expenses)"></ion-icon>
      <ion-icon name="pencil-outline" (click)="goToUpdateExpense(expenses)"></ion-icon>
      <ion-icon name="arrow-forward" (click)="goToExpensesDetails(expenses)"></ion-icon>
    </ion-item>
   
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="goToAddExpense()">Add Expense</ion-button>
 
</ion-footer>